/* This will only color the body tag of the Recipe portion ( <app-recipes> ) */
.description {
  list-style: none;
  font-family: monospace;
  font-size: 25pt;
}

/* .bg-danger{
  background-color: red;
} */
